.header {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #696969;
}
.base {
    background-color: #c0c0c0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50%;
    height:5px;
    width:720px;
}
.column1 {
    background-color: #00ff7f	;
    height:20px;
    width: 70px;
    margin-left: 70px;
    margin-top: -25px;
}

.column2 {
    background-color: #00ff7f;
    height:200px;
    width: 70px;
    margin-left: 180px;
    margin-top: -200px;
}

.column3 {
    background-color: #00ff7f;
    height:300px;
    width: 70px;
    margin-left: 290px;
    margin-top: -300px;
}

.column4 {
    background-color: #00ff7f;
    height:80px;
    width: 70px;
    margin-left: 400px;
    margin-top: -80px;
}

.column5 {
    background-color: #00ff7f;
    height:190px;
    width: 70px;
    margin-left: 510px;
    margin-top: -190px;
}

.column6 {
    background-color: #00ff7f;
    height:150px;
    width: 70px;
    margin-left: 620px;
    margin-top: -150px;
}

.position {
    position: absolute;
    
}
